body
{
	background-color: #02010a;
	font-family: Dancing Script;
}

header
{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	width: 900px;
	margin: auto;
	animation: animacion_header 2s;
}

header h1
{
	color: white;
	text-shadow: 2px 2px #02010a;
	display: inline-block;
	margin-left: 20px;
}

.menu-principal
{
	float: right;
	display: flex;
	flex-flow: column;
	font-size: 1.2em;
	margin-right: 20px;
}

.menu-principal a
{
	color: white;
}

.opcion-menu-actual
{
	text-decoration: none;
}

#contenido
{
	width: 900px;
	margin: auto;
}

#imagen_principal
{
	background-color: #82c3a6;
	width: 100%;
}

#img_imagen_principal
{
	width: 90%;
	margin: 2% 5% 2% 5%;
}

#imagen_secundaria
{
	background-color:  #d5c75f;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 25px;
	padding-bottom: 5px;
}

.link_imagen_secundaria_izq, .link_imagen_secundaria_der
{
	width: 45%;
}

#imagen_secundaria_izq, #imagen_secundaria_der
{
	width: 100%;
}

.link_imagen_secundaria_izq:hover
{
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
	box-shadow: 2px 2px  #82c3a6;
}

.link_imagen_secundaria_der:hover
{
	-webkit-transform: translate(5px, -20px);
	-ms-transform: translate(-px, -20px);
	transform: translate(5px, -20px);
	box-shadow: 2px 2px  #82c3a6;
}

footer
{
	border-radius: 0px 0px 10px 10px;
	background-color:  #C6d5c5;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 900px;
	margin: auto;
	justify-content: space-around;
}

.footer_col
{
	width: 25%;
	text-align: center;
}

.footer_col h5
{
	margin-top: 5px;
	margin-bottom: 2px;
	color: blue;
}

#galeria
{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color:  #d5c75f;
}

#galeria img
{
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.galeria_imagen_1
{
	-webkit-filter:blur(3px);
	filter:blur(3px);
}

.galeria_imagen_2, .galeria_imagen_4, .galeria_imagen_6
{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}

.galeria_imagen_3
{
	-webkit-filter:sepia(90%);
	filter:sepia(90%);
}

@-webkit-keyframes animacion_header
{
	0%
	{
		margin-top: 150%; 
	}

	60%
	{
		margin-top: -5%; 
	}

	100%
	{
		margin-top: 0%;
	}
}

@media screen and (max-width: 900px)
{
	header
	{
		width: 100%;
	}

	.menu-principal
	{
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#contenido
	{
		width: 100%;
	}

	#img_imagen_principal
	{
		width: 98%;
		margin: 1% 1% 1% 1%;
	}

	#imagen_secundaria
	{

		justify-content: center;
	}

	.link_imagen_secundaria_izq, .link_imagen_secundaria_der
	{
		width: 95%;
	}

	footer
	{
		border-radius: 0px 0px 10px 10px;
		background-color:  #C6d5c5;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.footer_col
	{
		width: 100%;
		font-size: 4vh;
		margin-bottom: 15px;
	}

	#galeria
	{
		width: 100%;
		display: flex;
		flex-flow: column
		flex-wrap: wrap;
		justify-content: center
	}

	#galeria img
	{
		width: 95%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

